# Usage: pip install -r requirements.txt
#python 3.10.6

ffmpeg-python
ffmpeg
pyaudio
pydub
datetime
SpeechRecognition
requests
openai
psutil
silero
num2words
torch
sounddevice
keyboard
transliterate
numpy