# Usage: pip install -r requirements.txt
#python 3.10.6

ffmpeg-python
ffmpeg
pydub
datetime
SpeechRecognition
requests
openai
webbrowser
psutil
subprocess
silero
num2words
torch
sounddevice
keyboard
transliterate
